.contact-us-child {
  position: absolute;
  top: 731px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 349px;
}
.logo-child2 {
  position: relative;
  width: 115px;
  height: 89px;
  flex-shrink: 0;
  object-fit: cover;
}
.span11 {
  color: var(--color-mediumblue);
}
.med3 {
  color: var(--color-navy);
}
.rktg-med3 {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-child3 {
  width: 145px;
  height: 52px;
  flex-shrink: 0;
}
.logo3 {
  position: absolute;
  top: 12px;
  left: 49px;
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home9 {
  position: relative;
}
.home8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  cursor: pointer;
}
.book-an-appointment5 {
  position: relative;
  cursor: pointer;
}
.nav-buttons3 {
  position: absolute;
  top: 45px;
  left: 344px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  color: var(--color-black);
}
.nav-bar-child3,
.nav-bar-child4 {
  position: absolute;
  box-sizing: border-box;
}
.nav-bar-child3 {
  top: -1.5px;
  left: 256.5px;
  border-right: 3px solid var(--color-darkgray);
  width: 3px;
  height: 138px;
}
.nav-bar-child4 {
  top: 160.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-darkgray);
  width: 1835px;
  height: 3px;
}
.nav-bar3 {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 1832px;
  height: 162px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-darkblue);
  font-family: var(--font-inria-serif);
}
.group-icon2 {
  position: absolute;
  top: 11.25px;
  right: 148.25px;
  width: 87.5px;
  height: 83.5px;
}
.login-sign2 {
  position: absolute;
  top: 22px;
  left: 102px;
  display: inline-block;
  width: 121px;
  height: 55px;
}
.login-button-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 251px;
  height: 115px;
}
.contact-us9,
.login-button2 {
  position: absolute;
  color: var(--color-black);
}
.login-button2 {
  top: 50px;
  right: 92px;
  width: 251px;
  height: 115px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inria-serif);
}
.contact-us9 {
  top: 256px;
  left: 158px;
  text-transform: uppercase;
  display: inline-block;
  width: 322px;
  height: 56px;
}
.phenvelope-simple-light2 {
  position: absolute;
  top: 616px;
  left: 150px;
  width: 111px;
  height: 111px;
  overflow: hidden;
}
.gislocationpoi0-icon,
.vector-icon10,
.vector-icon9 {
  position: absolute;
  height: 5.09%;
  width: 3.75%;
  top: 51.76%;
  right: 88.91%;
  bottom: 43.15%;
  left: 7.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gislocationpoi0-icon,
.vector-icon10 {
  width: 2.01%;
  top: 32.87%;
  right: 89.77%;
  bottom: 62.04%;
  left: 8.23%;
}
.vector-icon10 {
  width: 2.86%;
  top: 41.94%;
  right: 89.38%;
  bottom: 52.96%;
  left: 7.76%;
}
.a2,
.iit-delhi-main,
.inforktgmednet2 {
  position: absolute;
  top: 353px;
  left: 245px;
  display: inline-block;
  color: var(--color-black);
  width: 1177px;
  height: 57px;
}
.a2,
.inforktgmednet2 {
  top: 451px;
  font-weight: 700;
  text-decoration: none;
}
.inforktgmednet2 {
  top: 559px;
  left: 251px;
}
.phenvelope-simple-light3,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  top: 1026px;
  left: 1017px;
  width: 111px;
  height: 111px;
  overflow: hidden;
}
.vector-icon11,
.vector-icon12 {
  height: 5.09%;
  width: 3.75%;
  top: 84.07%;
  right: 25.89%;
  bottom: 10.83%;
  left: 70.36%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon12 {
  width: 2.86%;
  top: 76.3%;
  right: 26.56%;
  bottom: 18.61%;
  left: 70.57%;
}
.a3,
.inforktgmednet3 {
  position: absolute;
  top: 830px;
  left: 1487px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 1177px;
  height: 57px;
  text-decoration: none;
}
.inforktgmednet3 {
  top: 906px;
  left: 1495px;
  width: 793px;
}
.icon2 {
  position: absolute;
  top: 754px;
  left: 213px;
  border-radius: var(--br-3xs);
  width: 142px;
  height: 125px;
  object-fit: cover;
}
.this-website-provides2 {
  position: absolute;
  top: 894px;
  left: 75px;
  font-size: var(--font-size-7xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 481px;
  height: 133px;
}
.home10 {
  margin: 0;
}
.home-book-an-container5 {
  line-break: anywhere;
  width: 100%;
}
.home-book-an-container4 {
  position: absolute;
  top: 807px;
  left: 693px;
  font-size: var(--font-size-7xl);
  text-align: center;
  display: flex;
  align-items: center;
  width: 481px;
  height: 240px;
}
.contact-us11,
.quick-links2 {
  position: absolute;
  top: 764px;
  left: 816px;
  text-transform: uppercase;
  display: inline-block;
  width: 322px;
  height: 56px;
}
.contact-us11 {
  top: 763px;
  left: 1455px;
}
.contact-us-inner,
.contact-us-item {
  position: absolute;
  top: 752px;
  left: 610px;
  border-right: 4px solid var(--color-slateblue);
  box-sizing: border-box;
  width: 4px;
  height: 300px;
}
.contact-us-inner {
  left: 1276px;
}
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  position: absolute;
  height: 4.23%;
  width: 2.39%;
  top: 60.56%;
  right: 78.65%;
  bottom: 35.21%;
  left: 18.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  top: 92.69%;
  right: 15.32%;
  bottom: 3.08%;
  left: 82.29%;
}
.vector-icon15,
.vector-icon16 {
  height: 5.09%;
  width: 2.86%;
  top: 60.37%;
  right: 74.32%;
  bottom: 34.54%;
  left: 22.81%;
}
.vector-icon16 {
  top: 92.41%;
  right: 11.15%;
  bottom: 2.5%;
  left: 85.99%;
}
.follow-us2,
.follow-us3 {
  position: absolute;
  font-size: var(--font-size-21xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 71px;
}
.follow-us2 {
  top: 646px;
  left: 99px;
  color: var(--color-black);
}
.follow-us3 {
  top: 988px;
  left: 1327px;
}
.contact-us7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
