<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static',filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='home-page.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="home-page">
      <nav class="nav-bar6">
        <div class="logo6">
          <img class="logo-child8" alt="" src="{{ url_for('static',filename='rectangle-1@2x.png') }}" />
          <div class="rktg-med6">
            <span class="rktg"
              ><span class="rktg1">RKTG</span
              ><span class="span14"> </span></span
            ><b class="med6">MED</b>
          </div>
          <div class="logo-child9"></div>
        </div>
        <nav class="nav-buttons6">
          <div class="home17"><b class="home18">Home</b></div>
          <b class="book-an-appointment13" id="bookAnAppointment"
            >Book An Appointment</b
          ><b class="book-an-appointment13" id="medShopText">MedShop</b
          ><b class="book-an-appointment13" id="aboutUsText">About Us</b
          ><b class="book-an-appointment13" id="contactUsText">Contact Us</b
          ><b class="home18">Find Doctors</b>
          <button class="login-button5" id="loginButton">
            <img class="group-icon5" alt="" src="{{ url_for('static',filename='group3.svg') }}" /><b
              class="login-sign5"
              >Login / Sign Up</b
            >
            <div class="login-button-child3"></div>
          </button>
        </nav>
        <div class="nav-bar-child9"></div>
        <div class="nav-bar-child10"></div>
      </nav>
      
      <h2 class="dont-self-medicate-talk-to-a-wrapper">
        <b class="dont-self-medicate-talk"
          >Don’t self-medicate. Talk to an expert. Consult a doctor at RKTG
          MED.</b
        >
      </h2>
      <div class="home-page-child"></div>
      <b class="tired-of-waiting"
        >Tired of waiting in a queue? Too weak to go down and buy medicine?</b
      >
      <div class="order-medicines-from-container">
        <p class="order-medicines-from">Order medicines from our MedShop.</p>
        <p class="home-delivery-in">Home Delivery in 24 - 36 hours.</p>
      </div>
      <div class="order-now-button">
        <div class="order-now-button-child"></div>
        <b class="order-now">Order Now</b>
      </div>
      <div class="data-banner">
        <div class="data-banner-child"></div>
        <b class="b">1,00,000+ </b>
        <div class="happy-users">Happy Users</div>
        <div class="verified-doctors">Verified Doctors</div>
        <div class="specialities">Specialities</div>
      </div>
      <div class="top-rated-doctors">
        <div class="top-rated-doctors-child"></div>
        <div class="top-rated-doctors-item"></div>
        <div class="top-rated-doctors-inner"></div>
        <div class="dr-dennis-miller-container">
          <p class="dr-dennis-miller"><b>Dr. Dennis Miller</b></p>
          <p class="home-delivery-in">7+ years experience</p>
          <p class="home-delivery-in">5647 consults done</p>
        </div>
        <div class="dr-bary-cohen-container">
          <p class="dr-dennis-miller"><b>Dr. Bary Cohen</b></p>
          <p class="home-delivery-in">9+ years experience</p>
          <p class="home-delivery-in">10659 consults done</p>
        </div>
        <div class="dr-william-collins-container">
          <p class="dr-dennis-miller"><b>Dr. William Collins</b></p>
          <p class="home-delivery-in">5+ years experience</p>
          <p class="home-delivery-in">3265 consults done</p>
        </div>
        <img class="ellipse-icon" alt="" src="{{ url_for('static',filename='ellipse-1@2x.png') }}" /><img
          class="top-rated-doctors-child1"
          alt=""
          src="{{ url_for('static',filename='ellipse-2@2x.png') }}"
        /><img
          class="top-rated-doctors-child2"
          alt=""
          src="{{ url_for('static',filename='ellipse-3@2x.png') }}"
        /><b class="our-doctors">Our Doctors</b>
      </div>
      <section class="hp-appointment-banner">
        <img
          class="hp-appointment-banner-child"
          alt=""
          src="{{ url_for('static',filename='rectangle-2@2x.png') }}"
        />
        <h2 class="skip-the-travel-container">
          <p class="order-medicines-from">Skip the travel!</p>
          <p class="order-medicines-from">Take Online Doctor Consultation</p>
          <p class="home-delivery-in">&nbsp;</p>
        </h2>
        <button class="book-appointment-button">
          <img
            class="book-appointment-button-child"
            alt=""
            src="{{ url_for('static',filename='rectangle-3.svg') }}"
          /><b class="consult-now">Consult Now</b></button
        ><textarea class="hp-appointment-banner-item"></textarea
        ><textarea class="symbols-text"></textarea>
      </section>
      <img
        class="unsplashipx7j1n-xuc-icon1"
        alt=""
        src="{{ url_for('static',filename='unsplashipx7j1n-xuc1@2x.png') }}"
      /><img
        class="unsplashqnrjcp90tvc-icon"
        alt=""
        src="{{ url_for('static',filename='unsplashqnrjcp90tvc@2x.png') }}"
      />
      <div class="footer1">
        <div class="footer-child1"></div>
        <div class="phenvelope-simple-light6"></div>
        <img class="vector-icon25" alt="" src="{{ url_for('static',filename='vector.svg') }}" /><img
          class="vector-icon26"
          alt=""
          src="{{ url_for('static',filename='vector1.svg') }}"
        /><a class="a6" href="tel:+91 98123 54321" target="_blank"
          >+91 98123 54321</a
        ><a
          class="inforktgmednet6"
          href="mailto: info@rktgmed.net"
          target="_blank"
          >info@rktgmed.net</a
        ><img class="icon6" alt="" src="{{ url_for('static',filename='15032023-2153-1@2x.png') }}" />
        <div class="this-website-provides6">
          This website provides an online medicine purchasing platform. Patients
          can book a one-to-one appointment with doctors.
        </div>
        <div class="home-book-an-container10">
          <span class="home-book-an-container11"
            ><p class="home-delivery-in">Home</p>
            <p class="home-delivery-in">Book An Appointment</p>
            <p class="home-delivery-in">Medshop</p>
            <p class="home-delivery-in">About Us</p>
            <p class="home-delivery-in">Contact Us</p>
            <p class="home-delivery-in">Find Doctors</p></span
          >
        </div>
        <b class="quick-links5">Quick Links</b
        ><b class="contact-us20">Contact us</b>
        <div class="footer-child2"></div>
        <div class="footer-child3"></div>
        <img class="vector-icon27" alt="" src="{{ url_for('static',filename='vector2.svg') }}" /><img
          class="vector-icon28"
          alt=""
          src="{{ url_for('static',filename='vector3.svg') }}"
        />
        <div class="follow-us6">Follow Us :</div>
      </div>
      <div class="specialities1">
        <b class="specialities2">15+ Specialities</b>
        <div class="specialities-child"></div>
        <div class="specialities-item"></div>
        <div class="specialities-inner"></div>
        <div class="specialities-child1"></div>
        <div class="specialities-child2"></div>
        <img
          class="specialities-child3"
          alt=""
          src="{{ url_for('static',filename='ellipse-4@2x.png') }}"
        /><img
          class="specialities-child4"
          alt=""
          src="{{ url_for('static',filename='ellipse-5@2x.png') }}"
        /><img
          class="specialities-child5"
          alt=""
          src="{{ url_for('static',filename='ellipse-6@2x.png') }}"
        /><img
          class="specialities-child6"
          alt=""
          src="{{ url_for('static',filename='ellipse-7@2x.png') }}"
        /><img
          class="specialities-child7"
          alt=""
          src="{{ url_for('static',filename='ellipse-8@2x.png') }}"
        />
        <div class="dermatology">Dermatology</div>
        <div class="general-physician">General Physician</div>
        <div class="gynaecology">Gynaecology</div>
        <div class="sexology">Sexology</div>
        <div class="stomach-and-digestion">Stomach and Digestion</div>
      </div>
      <b class="b1">9000+</b><b class="b2">15+</b>
    </div>

    <script>
      var bookAnAppointment = document.getElementById("bookAnAppointment");
      if (bookAnAppointment) {
        bookAnAppointment.addEventListener("click", function (e) {
          window.location.href="{{ url_for('static',filename='book-an-appointment.html') }}";
        });
      }
      
      var medShopText = document.getElementById("medShopText");
      if (medShopText) {
        medShopText.addEventListener("click", function (e) {
          window.location.href="{{ url_for('static',filename='med-shop.html') }}";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href="{{ url_for('static',filename='about-us.html') }}";
        });
      }
      
      var contactUsText = document.getElementById("contactUsText");
      if (contactUsText) {
        contactUsText.addEventListener("click", function (e) {
          window.location.href="{{ url_for('static',filename='contact-us.html') }}";
        });
      }
      
      var loginButton = document.getElementById("loginButton");
      if (loginButton) {
        loginButton.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      </script>
  </body>
</html>
